<% if @book1.errors.any? %>
  <%= @book1.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book1.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', user: @user %>

<h1>Books</h1>
<table>
<thead>
<tr>
 <th><h4>Title</h4></th>
 <th><h4>Opinion</h4></th>
</tr>
</thead>

<% @books.each do |book| %>
<tbody>
<tr>
   <td>
     <%= image_tag book.user.get_profile_image(100,100) %>
   </td>
   <td>
      <%= book.title  %>
   </td>
   <td>
      <%= book.body %>
   </td>
</tr>
</tbody>
<% end %>
</table>
